<%- include ('partials/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Fecha</th>
                        <th>Foto</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) {%>
                        <% for (var i = 0; i < data.length; i++) {%>
                            <tr>
                                <td><%= (i + 1) %> </td>
                                <td><%= data[i].nombre %> </td>
                                <td><%= data[i].apellidos %> </td>
                                <td><%= data[i].correo %> </td>
                                <td><%= data[i].fecha_nac %> </td>
                                <td><%= data[i].foto %> </td>
                                <td>
                                    <a href="/delete/<%= data[i].id  %>" class="btn btn-danger">Eliminar</a>
                                    <a href="/update/<%= data[i].id  %>" class="btn btn-info">Actualizar</a>
                                </td>
                            </tr> 
                        <% } %> 
                    <% } %> 
                </tbody>
            </table>

        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/agregar" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Name" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="apellidos" placeholder="Surname" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="correo" placeholder="Email" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="date" name="fecha" placeholder="Fecha" class="form-control">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="foto" placeholder="Foto" class="form-control">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>